.positive {
  color: green;
}

.btn-positive {
  background: green;
}

.negative {
  color: red;
}

.btn-negative {
  background: red;
}

.zero {
  color: gray;
}

.counter-app {
  text-align: center;
}

.counter-app-title {
  font-size: 3rem;
  margin-top: 30px;
  font-weight: 500;
}

.counter-app-label {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.counter-app .result {
  font-size: 12rem;
  font-weight: 700;
}